// Media Queries 
@media screen and (min-width: 768px) {

  // showcase 
  .showcase {
    .content {
      h1 {
        font-size: 6rem;
      }

      h3 {
        font-size: 3rem;
      }

      .social {
        .icon {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {

  // showcase 
  .showcase {
    .content {
      h1 {
        font-size: 8rem;
      }

      h3 {
        font-size: 4rem;
      }

      .social {
        .icon {
          font-size: 3.5rem;
        }
      }
    }
  }

  // Contact 
  .contact {
    .container {
      .text-fields {
        grid-template-areas:
          'name subject'
          'email phone'
          'message message';
      }
    }
  }
}