// Variables
$primary-color: #08ABF2;
$primary-light-color: #12CFC2;
$grey-main-color: #333333;
$grey-dark-color: #414141;
$html-logo: #E44E26;
$css-logo: #379AD6;
$sass-logo: #CE6699;
$js-logo: #EFDC4F;
$git-logo: #F05033;
$adobeXD-logo: #FF61F6;
$nodejs-logo: #529842;


// Basic Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// Global Style 
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

// section {
//   padding: 5rem 0;
// }

img {
  width: 100%;
}

// Reusable styles
.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.about-heading {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  .heading {
    font-size: 3.5rem;
  }

  .heading-underline {
    height: .2rem;
    width: 4rem;
    background: #fff;
  }
}

// Navigation
.top-menu {
  z-index: 10;
  width: 100%;
  top: 2rem;
  height: 6rem;
  position: fixed;
  margin-top: 0;

  .container {
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        max-width: 80%;
        color: #fff;
      }

      .hamburger-menu {
        font-size: 2.6rem;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 1500;

        .fa-bars {
          display: block;

          &.hide {
            display: none;
          }
        }

        .fa-times {
          display: none;

          &.show {
            display: block;
          }
        }
      }

      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $grey-main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1400;
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s;

        &.menu-open {
          opacity: 1;
          transform: scale(1);
        }
      }

      .nav-item {
        &:not(last-child) {
          margin-bottom: 0.5rem;
        }

        .nav-link {
          display: block;
          color: #fff;
          font-size: 3rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 1rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.5);
            color: $primary-color;
          }
        }
      }
    }
  }
}