@import 'utilities';

// Showcase 
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  color: #fff;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3a4052;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .6);
    }

    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .top-menu {
    z-index: 10;
    width: 100%;
    top: 2rem;
    height: 6rem;
    position: fixed;

    .container {
      .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          max-width: 80%;
          color: #fff;
        }

        .hamburger-menu {
          font-size: 2.6rem;
          color: #fff;
          cursor: pointer;
          position: relative;
          z-index: 1500;

          .fa-bars {
            display: block;

            &.hide {
              display: none;
            }
          }

          .fa-times {
            display: none;

            &.show {
              display: block;
            }
          }
        }

        .nav-list {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background: $primary-color;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 1400;
          opacity: 0;
          transform: scale(0);
          transition: opacity 0.5s;

          &.menu-open {
            opacity: 1;
            transform: scale(1);
          }
        }

        .nav-item {
          &:not(last-child) {
            margin-bottom: .5rem;
          }

          .nav-link {
            display: block;
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1rem;
            transition: all .2s ease-in;


            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }

  .content {
    z-index: 9;

    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    .social {
      .icon {
        font-size: 2rem;
        margin-right: .5rem;
        transition: color .2s ease-in;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// About Section 
.about {
  padding: 2rem 0;
  background-color: $primary-color;

  .container {
    .about-info {
      color: #fff;
      text-align: center;
      line-height: 2.1;

      p {
        padding: 1rem 0;
      }
    }

    // .about-boxes {
    //   display: grid;
    //   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    //   grid-gap: 2.5rem;

    //   .box {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 3rem;
    //     background-color: #fff;
    //     color: $grey-dark-color;

    //     span {
    //       .fa-circle {
    //         background: #fff;
    //         border: 2px solid $grey-dark-color;
    //       }
    //     }
    //   }
    // }
  }
}

// Experience Section 
.experience {
  padding: 2rem 0;

  .container {
    .about-heading {
      color: $grey-dark-color;

      .heading-underline {
        background: $grey-dark-color;
      }
    }

    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 2.5rem;

      .icon {
        text-align: center;

        span {
          font-size: 4rem;
        }

        .fa-html5 {
          color: $html-logo;
        }

        .fa-css3-alt {
          color: $css-logo;
        }

        .fa-sass {
          color: $sass-logo;
        }

        .fa-js {
          color: $js-logo;
        }

        .fa-git-alt {
          color: $git-logo;
        }

        .fa-adobe {
          color: $adobeXD-logo;
        }

        .fa-node-js {
          color: $nodejs-logo;
        }
      }
    }
  }
}

// Projects Section 
.projects {
  padding: 2rem 0;
  background: $primary-color;

  .container {
    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 2rem;

      .project {
        background: #fff;
        border-radius: 5px;

        .img-container {
          img {}
        }

        .text-container {
          padding: 1rem;
          background: #fff;
          margin: 0;

          .title {
            font-size: 3rem;
          }

          .details {
            list-style: disc;
            margin-left: 2rem;
            padding: 1rem 0;
          }

          .btn {
            font-size: 1.7rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 1rem 3.5rem;
            display: inline-flex;
            align-items: center;
            border-radius: 10px;
            transition: all .2s ease-in-out;
          }

          .btn-primary {
            background: $primary-color;
            border: 2px solid $primary-color;
            color: #fff;

            &:hover {
              background: $primary-light-color;
              border: 2px solid $primary-light-color;

            }
          }

          .btn-secondary {
            border: 2px solid $primary-color;
            color: $primary-color;

            &:hover {
              border: 2px solid $primary-light-color;
              color: $primary-light-color;
            }
          }
        }
      }
    }
  }
}

// Contact 
.contact {
  padding-bottom: 2rem;

  .container {
    .about-heading {
      color: $grey-dark-color;

      .heading-underline {
        background: $grey-dark-color;
      }
    }

    .text-fields {
      display: grid;
      grid-template-areas:
        'name'
        'subject'
        'email'
        'phone'
        'message';
      grid-gap: 2rem;
      margin-bottom: 2rem;

      // grid areas
      .name-input {
        grid-area: name;
      }

      .email-input {
        grid-area: email;
      }

      .subject-input {
        grid-area: subject;
      }

      .phone-input {
        grid-area: phone;
      }

      .message-input {
        grid-area: message;
        height: 10rem;
      }

      .text-input {
        padding: 0.5rem 1.5rem;

        &:focus {
          outline: none;
        }
      }

      .span-filter {
        padding: 2rem 0;
      }
    }

    button[type="submit"] {
      width: 25%;
      padding: .5rem 0;
      font-size: 1.4rem;
      background: $primary-color;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        background: $primary-light-color;
      }
    }
  }
}

// Footer 
.main-footer {
  padding: 2rem 0;
  height: 8rem;
  background: $primary-color;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social {
      .fab {
        margin-right: .5rem;
        font-size: 2rem;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          color: $grey-dark-color;
        }
      }
    }
  }
}

@import 'media';